<p>Hi <%= @pledge.challenge.nominee_name %>,</p>
<p>We just received another pledge for you to complete the <%= @pledge.challenge.title %> Challenge on ThePledge.com.au.</p>
<h1>All funds raised on ThePledge.com.au go to charity.</h1>
<p>As you already know, we don't release funds to the nominated charity until you Accept and Complete the challenge.</p>
<table>
  <tr>
    <td class="padding">
      <p><a href="<%= challenge_accept_url(@pledge.challenge.id) %>" class="btn-primary">Accept Challenge</a></p>
    </td>
  </tr>
</table>
<p>Be a good sport and Accept the challenge.</p>
<p>Thanks, have a lovely day.</p>
<p><a href="http://www.thepledge.com.au">ThePledge.com.au</a></p>