<!-- Header -->
<header id="home">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">We Crowdfund Charitable Challenges</div>
      <a href="/challenges/new" class="btn btn-xl">Start a Challenge</a>
      <br>
      <br>
      <br>
      <div class="intro-lead-in">Nominate your friends, family, or a public figure. Raise funds and awareness when they complete the challenge. </div>
    </div>
  </div>
</header>