<!-- Page Header -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">My Challenges
        <small>For Charity</small>
    </h1>
  </div>
</div>

<!-- Challenges -->
<% @challenges.in_groups_of(3) do |challenge| %>
  <div class="row">
    <% challenge.compact.each do |challenge| %>
      <div class="col-md-4 portfolio-container">
          <%= link_to(image_tag(challenge.banner_image, :class => 'img-responsive'), challenge) %>
          <h3>
              <%= link_to(challenge.title, challenge) %>
          </h3>
          <p><%= challenge.description %></p>
      </div>
    <% end %>
  </div>
<% end %>