%h1 My Challenges

- @challenges.in_groups_of(3) do |challenge|
  .row
    - challenge.compact.each do |challenge|
      .col-md-4
        .challenge_index
          = link_to(image_tag(challenge.banner_image, :class => 'challenge_thumb'), challenge)
          %h2= link_to(challenge.title, challenge)
          %p= challenge.description